---
import { getCollection, render, getEntry } from "astro:content";
import CommentSection from "../../components/BlogPost/CommentSection.astro";
import NewsletterSignup from "../../components/BlogPost/NewsletterSignup.astro";
import PostHeader from "../../components/BlogPost/PostHeader.astro";
import Layout from "../../Layout.astro";
import { pageTitle, slugs } from "../../config";
import { createPostSlug, formatLinkList } from "../../util";
import { post as strings } from "../../strings";

export async function getStaticPaths() {
  const allPosts = await getCollection("posts", (p) => p.data.published);
  return allPosts.map((post) => ({
    params: { slug: createPostSlug(post.data.title, post.data.date) },
    props: { post },
  }));
}

const { post } = Astro.props;
const { slug } = Astro.params;
const { Content } = await render(post);

const allComments = await getCollection("comments");
const postComments = allComments
  .filter((c) => c.data.slug === slug)
  .sort((a, b) => new Date(a.data.date).getTime() - new Date(b.data.date).getTime());

const socialMedia = (await getEntry("general", "footer"))!.data.socialMedia;
---

<Layout title={pageTitle(post.data.title)} description={post.data.excerpt} slug={`${slugs.blog}/${slug}`}>
  <article class="blog-post">
    <PostHeader title={post.data.title} date={post.data.date} />
    <div class="text">
      <Content />
    </div>
    <div class="post-footer">
      <p>{strings.socialMediaCallout}</p>
      <p>
        <Fragment set:html={formatLinkList(socialMedia.map(({ platform, link }) => ({ name: platform, link })))} />
      </p>
      <p>{strings.newsletterCallout}</p>
      <NewsletterSignup />
    </div>
  </article>

  {postComments.length > 0 && <CommentSection comments={postComments} />}
</Layout>

<style>
  .blog-post {
    padding: 2.5rem 0;
  }

  .text {
    margin: 3rem 0;
    img {
      max-width: 100%;
      width: auto;
      height: auto;
    }

    li {
      padding: 0.2rem 0;
    }
  }

  .post-footer {
    align-items: center;
    display: flex;
    flex-direction: column;
    p:not(:nth-child(3)) {
      margin: 0.5rem 0;
    }

    p:nth-child(3) {
      margin: 0.5rem 0 -0.25rem;
    }
  }
</style>
