---
import { getEntry, render } from "astro:content";
import Layout from "../Layout.astro";
import { pageTitle, slugs } from "../config";

const page = (await getEntry("pages", "404"))!;
const { title, description, messageTitle, image, imageAlt } = page.data;
const { Content } = await render(page);
---

<Layout title={pageTitle(title)} description={description} slug={slugs.notFound}>
  <div class="root">
    <h1 class="title">{messageTitle}</h1>
    <Content />
    {image && <img class="image" src={image} alt={imageAlt || ""} />}
  </div>
</Layout>

<style>
  .root {
    display: grid;
    margin-top: 4rem;
    place-items: center;
  }

  .title {
    font: var(--font-headline);
  }

  @media (min-width: 992px) {
    .title {
      display: none;
    }
  }

  .image {
    height: 100%;
    margin-top: 1rem;
    width: min(80vw, 65rem);
  }

  @media (max-width: 991px) {
    .image {
      display: none;
    }
  }
</style>
