---
import { getEntry, render } from "astro:content";
import Layout from "../Layout.astro";
import { imgAlt, pageTitle, slugs } from "../config";
import { Image } from "astro:assets";

const AVATAR_WIDTH = 66;
const AVATAR_HEIGHT = 88;

const page = (await getEntry("pages", "about"))!;
const { title, description, contributorsTitle, contributors } = page.data;
const { Content } = await render(page);
---

<Layout title={pageTitle(title)} description={description} slug={slugs.about}>
  <div class="about-text">
    <Content />
  </div>
  {
    contributors && (
      <section class="contributors">
        {contributorsTitle && <h2>{contributorsTitle}</h2>}
        <ul class="avatars">
          {contributors.map(({ avatar, name }) => (
            <li class="contributor" style={`--avatar-width: ${AVATAR_WIDTH}px`}>
              <Image src={avatar.default} alt={imgAlt.avatar(name)} width={AVATAR_WIDTH} height={AVATAR_HEIGHT} />
              <p>{name}</p>
            </li>
          ))}
        </ul>
      </section>
    )
  }
</Layout>

<style>
  .about-text {
    padding: 2.5rem 0 0;
  }

  .contributors {
    margin-bottom: 2.5rem;

    h2 {
      margin-bottom: 0.75rem;
    }
  }

  .avatars {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  .contributor {
    flex: 0 0 10rem;
    max-width: 10rem;
    text-align: center;

    p {
      margin: 0.5rem 0;
    }
    img {
      width: var(--avatar-width);
    }
  }
</style>
