---
import { getEntry } from "astro:content";
import { getImage, Image } from "astro:assets";
import Layout from "../Layout.astro";
import { pageTitle, slugs, paths } from "../config";
import LinkButton from "../components/LinkButton.astro";
import heroBg from "@assets/hero_bg.jpg";
import { home as strings } from "../strings";

const page = (await getEntry("pages", "index"))!;
const { title, description, heroLogo, heroLogoAlt, heroText, infoBoxes } = page.data;

const heroWebp = await getImage({ src: heroBg, format: "webp" });
const heroJpg = await getImage({ src: heroBg, format: "jpeg" });

const images = import.meta.glob<{ default: ImageMetadata }>("/content/_img/*.{jpeg,jpg,png,gif}");
---

<Layout title={pageTitle(title)} description={description || ""} slug={slugs.home}>
  <section class="hero-root">
    <h1 class="sr-only">{title}</h1>
    <div class="hero-body" style={`--hero-webp: url('${heroWebp.src}'); --hero-jpg: url('${heroJpg.src}')`}>
      {heroLogo && <Image class="hero-logo" src={images[heroLogo]()} alt={heroLogoAlt || ""} inferSize />}
      <p class="hero-text">{heroText}</p>
    </div>
    <LinkButton href={paths.downloadIndex} class="download-btn">{strings.downloadButton}</LinkButton>
  </section>

  <section class="info-boxes">
    {
      infoBoxes?.map(({ text, image, imgAlt }, i) => (
        <>
          <Image src={images[image]()} alt={imgAlt} data-pos={i % 2} class="info-img" />
          <p class="info-text">{text}</p>
        </>
      ))
    }
  </section>

  <script>
    const w = window as any;
    if (w.netlifyIdentity) {
      w.netlifyIdentity.on("init", (user: any) => {
        if (!user) {
          w.netlifyIdentity.on("login", () => {
            document.location.href = "/admin/";
          });
        }
      });
    }
  </script>
</Layout>

<style>
  .sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    clip: rect(0, 0, 0, 0);
    overflow: hidden;
  }

  .hero-root {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-bottom: calc(-1 * var(--download-button-height) / 2);

    /* important because the layout forces margins left and right instead */
    max-width: 100vw !important;
    width: 100vw !important;
  }

  @media (min-width: 992px) {
    .hero-root {
      height: 62.5vw;
      max-height: calc(100rem * 1080 / 1920);
    }
  }

  @media (max-width: 991px) {
    .hero-root {
      height: auto;
    }
  }

  .download-btn {
    margin-top: calc(-1 * var(--download-button-height) / 2);
  }

  .hero-logo {
    width: min(50vw, 85rem);
  }

  .hero-body {
    align-items: center;
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 2.5rem;
    text-align: center;
    width: 100%;
  }

  @media (min-width: 992px) {
    :global(html:not(.webp)) .hero-body {
      background: no-repeat bottom/100% var(--hero-jpg);
    }

    :global(.webp) .hero-body {
      background: no-repeat bottom/100% var(--hero-webp);
    }
  }

  .hero-text {
    max-width: calc(var(--max-content-width) + 2rem);
    padding-bottom: 5rem;
    margin: 0 1rem;

    font: var(--font-hero);
    color: var(--color-white);
  }

  @media (max-width: 991px) {
    .hero-text {
      margin: 1.5rem 1rem 0;
      color: var(--color-black);
    }
  }

  .info-boxes {
    box-sizing: border-box;
    align-items: center;
    display: grid;
    grid: auto-flow dense / repeat(5, 1fr);
    gap: 4rem 2rem;

    @media (min-width: 1024px) {
      margin: 6rem 0;
    }

    @media (max-width: 1023px) {
      display: flex;
      flex-direction: column;
      gap: 0;
      padding: 5rem 3rem 3rem;
      width: calc(100% - 3rem);
    }

    @media (max-width: 991px) {
      padding: 5rem 0 3rem;
    }
  }

  .info-img {
    padding: 1rem;
    box-sizing: border-box;
    object-fit: contain;
    width: 100%;
  }

  .info-img[data-pos="0"] {
    grid-column: 3/6;
  }

  .info-img[data-pos="1"] {
    grid-column: 1/4;
  }

  .info-text {
    font: var(--font-info);
    grid-column: span 2;
    margin: 0;

    @media (max-width: 1023px) {
      margin: 0 1rem 3rem;
      text-align: center;
    }
  }
</style>
