---
import { mailchimpForm } from '../../config';
import { newsletterSignup as strings } from '../../strings';
import LinkButton from '../LinkButton.astro';

---

<section class='newsletter'>
  <div id="mc_embed_signup">
    <form action={mailchimpForm.action} method="post" target="_blank" novalidate>
      <input
        type="email"
        name="EMAIL"
        placeholder={strings.emailPlaceholder}
        required
        aria-label={strings.emailInputLabel}
      />
      <div id="newsletter-input" aria-hidden="true">
        <input type="text" name={mailchimpForm.inputName} tabindex="-1" />
      </div>
      <LinkButton type="submit" name="subscribe">{strings.submitButton}</LinkButton>
    </form>
  </div>
</section>

<style>
  .newsletter {
    line-height: 2rem;
    margin-bottom: 5rem;
    text-align: center;
 p {
    margin: 0.125rem;
  }}

  #mc_embed_signup > form {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }

  input[type='email'] {
    background-color: transparent;
    border: none;
    box-shadow: inset 0 0 0.5rem 0.25rem rgba(142, 142, 142, 0.8);
    box-sizing: border-box;
    font: var(--font-input);
    height: 4rem;
    margin-top: 0.25rem;
    max-width: calc(100vw - 2rem);
    padding-left: 1.75rem;
    width: 25rem;
  }

  #newsletter-input {
    left: -5000px;
    position: absolute;
  }

</style>
