---
import { getImage } from "astro:assets";
import btnTexture from "@assets/texture_btn.png";

type Props = (astroHTML.JSX.AnchorHTMLAttributes | astroHTML.JSX.ButtonHTMLAttributes) & {
  href?: string;
  class?: string;
};

const { href, class: className, ...rest } = Astro.props;

const btnWebp = await getImage({ src: btnTexture, format: "webp" });
const btnPng = await getImage({ src: btnTexture });
---

{
  href ? (
    <a
      href={href}
      class:list={["link-button", className]}
      style={`--btn-webp: url('${btnWebp.src}'); --btn-png: url('${btnPng.src}')`}
      {...(rest as astroHTML.JSX.AnchorHTMLAttributes)}
    >
      <slot />
    </a>
  ) : (
    <button
      class:list={["link-button", className]}
      style={`--btn-webp: url('${btnWebp.src}'); --btn-png: url('${btnPng.src}')`}
      {...(rest as astroHTML.JSX.ButtonHTMLAttributes)}
    >
      <slot />
    </button>
  )
}

<style>
  .link-button {
    background: no-repeat center/100% image-set(var(--btn-webp) type("image/webp"), var(--btn-png) type("image/png"));
    color: var(--color-black);
    font: var(--font-button);
    height: var(--download-button-height);
    text-align: center;
    text-decoration: none;
    width: var(--download-button-width);
    border: none;
  }

  .link-button:hover {
    color: var(--color-link-hover);
  }
</style>
