---
import { mailchimpForm } from '../config';
import { newsletterSignup as strings } from '../data/strings';
import LinkButton from './LinkButton.astro';

interface Props {
  large?: boolean;
}
const { large = false } = Astro.props;
---

<section class:list={['newsletter', { large }]}>
  {large && (
    <>
    <p>{strings.textQuestion}</p>
    <p>{strings.textCTA}</p>
    </>
  )}
  <div id="mc_embed_signup">
    <form action={mailchimpForm.action} method="post" target="_blank" novalidate>
      <input
        type="email"
        name="EMAIL"
        placeholder={strings.emailPlaceholder}
        required
        aria-label="Email"
      />
      <div id="newsletter-input" aria-hidden="true">
        <input type="text" name={mailchimpForm.inputName} tabindex="-1" />
      </div>
      <LinkButton type="submit" name="subscribe" class="submit-button">{strings.submitButton}</LinkButton>
    </form>
  </div>
</section>

<style>
  .newsletter {
    line-height: 2rem;
    margin-bottom: 5rem;
    text-align: center;
 p {
    margin: 0.125rem;
  }}

  #mc_embed_signup > form {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }

  .large #mc_embed_signup > form {
    flex-direction: column;
    margin-top: 1rem;
  }

  input[type='email'] {
    background-color: transparent;
    border: none;
    box-shadow: inset 0 0 0.5rem 0.25rem rgba(142, 142, 142, 0.8);
    box-sizing: border-box;
    font: var(--font-input);
    height: 4rem;
    margin-top: 0.25rem;
    max-width: calc(100vw - 2rem);
    padding-left: 1.75rem;
    width: 25rem;
  }

  .large input[type='email'] {
    height: 5rem;
    margin-top: 0;
  }

  #newsletter-input {
    left: -5000px;
    position: absolute;
  }

  .large .submit-button {
    margin-top: 1.5rem;
  }
</style>
